<!DOCTYPE html>
<html>
<head>
    <title>Avani Paridhi Group of Companies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Avani Paridhi Group of Companies">
    <link rel="stylesheet" type="text/css" href="~/css/colors/red.css" title="red" media="screen" />

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="container" class="boxed-page">
        <div class="hidden-header"></div>
        <header class="clearfix">
            <div class="top-bar dark-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="contact-details">
                                <li>
                                    <a href="#"><i class="fa fa-map-marker"></i> 16/34, Fawn Break Avenue, Sarojini Naidu Marg, Lucknow.</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope-o"></i> info@avaniParidhi.com</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-phone"></i> +91-9452667888</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="social-list">
                                <li>
                                    <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html" style="display:inline-flex;">
                            <img alt="" src="~/images/logo.jpg" style="height:50px;">
                            <div style="padding-top: 9px;padding-left: 20px;">Avani Paridhi Energy and Communications (P) Ltd.</div>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" style="height: 79px !important;">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "I ndex" ? "active" : "") })
                            </li>
                            <li>
                                @Html.ActionLink("Registration", "Index", "Registration", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Registration" ? "active" : "") })
                            </li>
                            <li>
                                @Html.ActionLink("Vacancies", "Jobs", "Home", null, new { @class = (ViewContext.RouteData.Values["action"].ToString() == "Jobs" ? "active" : "") })
                            </li>
                            <li>
                                @Html.ActionLink("Downloads", "Index", "Downloads", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Downloads" ? "active" : "") })
                            </li>
                            <li>
                                @Html.ActionLink("Clients", "Index", "Clients", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Clients" ? "active" : "") })
                            </li>
                            <li>
                                @Html.ActionLink("News & Gallery", "Index", "NewsGallery", null, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "News" ? "active" : "") })
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu Start -->
                <ul class="wpb-mobile-menu">
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">Registration</a>
                    </li>
                    <li>
                        <a href="#">Vacancies</a>
                    </li>
                    <li>
                        <a href="portfolio-3.html">Downloads</a>
                    </li>
                    <li>
                        <a href="blog.html">Clients</a>
                    </li>
                    <li>
                        <a href="contact.html">News & Gallery</a>
                    </li>
                </ul>
                <!-- Mobile Menu End -->
            </div>
            <!-- End Header ( Logo & Naviagtion ) -->
        </header>
        <!-- Start HomePage Slider -->
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row footer-widgets">
                    <div class="col-md-6">
                        <div class="footer-widget mail-subscribe-widget">
                            <b>M/S Avani Paridhi Energy & Communications (P) Ltd.</b> is a company registered as per Companies Registration act India. M/s APEC is also an ISO 9001 certified company.
                        </div>
                        <div class="footer-widget social-widget">
                            <h4>Follow Us<span class="head-line"></span></h4>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-widget contact-widget">
                            <h4><img src="~/images/logo.jpg" class="img-responsive" alt="Footer Logo" style="height:50px;" /></h4>
                            <p>
                                <b>Head Office:</b>
                                B-124, Awas Vikas Colony
                                Banda-210001.<br />
                                <b>Branch Office:</b>
                                16/34, Fawn Break Avenue
                                Sarojini Naidu Marg
                                Near Honda Hospital
                                Lucknow-226001.
                            </p>
                            <ul>
                                <li><span>Phone Number:</span> +91-9452667888, Monday to Friday, 10:00 AM to 6:00 PM Only</li>
                                <li><span>Email:</span> info@avaniparidhi.com</li>
                                <li><span>Website:</span> www.avaniparidhi.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2016 APEC - All Rights Reserved <a href="http://avaniparidhi.com">APEC</a> </p>
                        </div>
                        <div class="col-md-6">
                            <ul class="footer-nav">
                                <li>@Html.ActionLink("Admin Console", "Index", "Home", new { area = "Admin" }, new { @class = (ViewContext.RouteData.Values["controller"].ToString() == "Vacancies" ? "active" : "") })</li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/extScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
